<style type="text/css">
  #TableOfContents {
    font-size: 13px !important;
    max-height: 85vh;
    overflow: auto;
    padding: 0px !important;
  }

  #TableOfContents > ul {
    margin-top: 0px;
    margin-bottom: 16px;
  }

  #TableOfContents > ul > li > ul > li > ul li {
    margin-right: 8px;
  }

  #TableOfContents > ul > li > a {
    font-weight: bold;
    padding: 0 18px 0 4px;
    margin: 0 2px;
  }

  #TableOfContents > ul > li > ul > li > a {
    font-weight: bold;
  }

  #TableOfContents > ul > li > ul > li > ul > li > ul > li > ul > li {
    display: none;
  }
</style>
