<left>
  <b> Workshop</b> <br />
  <!-- TODO: update workshop counter (Go to https://hitwebcounter.com and get a new counter code, replace 7920860 with your counter code) -->
  <img
    src="https://hitwebcounter.com/counter/counter.php?page=7920860&style=0038&nbdigits=9&type=page&initCount=0"
    title="This Workshop"
    alt="This Workshop's web counter"
    border="0"
  />
  <br />
  <b> <a href="https://cloudjourney.awsstudygroup.com/">Cloud Journey</a></b>
  <br />
  <img
    src="https://hitwebcounter.com/counter/counter.php?page=7830807&style=0038&nbdigits=9&type=page&initCount=0"
    title="Total Cloud Journey"
    alt="Cloud Journey's web counter"
    border="0"
  />
</left>
<left>
  <br /><br />
  <b> {{T "Last-updated"}} </b> <br />
  <p style="color: orange; font-style: italic">
    {{ .Site.Lastmod | time.Format "02-01-2006" }}
  </p>
  {{ if .GitInfo }}
  <div style="display: none">{{ .GitInfo.AbbreviatedHash }}</div>
  {{ end }}
</left>
<left>
  <br />
  <b> Team </b><br />

  <div style="font-style: italic">
    <a href="https://www.linkedin.com/in/jotaguy" style="color: orange"
      >Gia Hưng
    </a>
    <br />
    <a href="https://www.linkedin.com/in/vanhoangkha/" style="color: orange"
      >Hoàng Kha
    </a>
    <br />
    <!-- TODO: update workshop contributors: Your name and your LinkedIn profile URL -->
    <a href="#TODO" style="color: orange">TODO: Your Name </a>
    <br />
  </div>
</left>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
